Q1. List any five functions of the pandas library with execution.

Here are 5 common functions from the Pandas library-

1)read_csv: This function is used to read data from a CSV file and create a DataFrame.
2)head: This function displays the first few rows of a DataFrame, giving you a quick overview of the data.
3)describe: This function provides summary statistics of the DataFrame's numeric columns, like mean, min, max, etc.
4)groupby: This function is used to group data based on one or more columns and perform aggregate operations.
5)plot: This function allows you to create various types of plots directly from a DataFrame.

In [8]:
import pandas as pd

# Reading a CSV file into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv") 

# Display the first 5 rows of the DataFrame
print(df.head())

# Display summary statistics of numeric columns
print(df.describe())

# Grouping by 'Category' column and calculating mean of 'Value' column
grouped = df.groupby("Fare").mean()
print(grouped)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
          PassengerId  Survived    Pclass        Age  SibSp     Parch
Fare
0.0000         516.40  0.066667  1.933333  35.142857   0.00  0.000000
4.0125         379.00  0.000000  3.000000  20.000000   0.00  0.000000
5.0000         873.00  0.000000  1.000000  33.000000   0.00  0.000000
6.2375         327.00  0.000000  3.000000  61.000000   0.00  0.000000
6.4375         844.00  0.000000  3.000000  34.500000   0.00  0.000000
...               ...       ...       ...        ...    ...       ...
227.5250       589.25  0.750000  1.000000  32.666667   0.25  0.000000
247.5208       209.50  0.500000  1.000000  37.000000   0.00  1.000000
262.3750       527.50  1.000000  1.000000  19.500000   2.00  2.000000
263.0000       224.50  0.500000  1.000000  32.500000   2.50  2.500000
512.3292       559.00  1.000000  1.000000  35.333333   0.00  0.333333

[248 rows x 6 columns]

/tmp/ipykernel_687/106224748.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby("Fare").mean()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
import pandas as pd
mydata ={
    'A' :[1,2,3],
    'B': [4.0,'a',5],
    'C' :[3,5,6]
}
df = pd.DataFrame(mydata)
df.reindex([1,3,5])

     A    B    C
1  2.0    a  5.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [12]:
import pandas as pd
#creating function for sum of first 3 value in Values column
def sum_first_three(df):
    values = df['Values']
    total = sum(values[:3])
    print("Sum of the first three values:", total)

#creating dataframe with column named Values
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [13]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example usage
data = {'Text': ["Hello there", "How's it going?", "Just chilling and enjoying"]}
df = pd.DataFrame(data)

# Adding the 'Word_Count' column
df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                         Text  Word_Count
0                 Hello there           2
1             How's it going?           3
2  Just chilling and enjoying           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size()
    1)Returns the total number of elements in the DataFrame.
    2)It's equivalent to the product of the number of rows and columns.

DataFrame.shape()
    1)Returns a tuple representing the dimensions of the DataFrame.   
    2)The first element is the number of rows, and the second is the number of columns.

In [14]:
import pandas as pd

data = {'Column1': [1, 2, 3], 'Column2': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size)  # Output: 6
print(df.shape)  # Output: (3, 2)

6
(3, 2)

Q6. Which function of pandas do we use to read an excel file?

In [16]:
import pandas as pd
df = pd.read_excel("exceldata.xlsx")
df

,Unnamed: 0,Unnamed: 1,Data for Power BI Sales Analytics Proejct,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6115,NaN,NaN,Curtice Advani,Australia,70% Dark Bites,2023-06-09 00:00:00,2112.75,201
6116,NaN,NaN,Mallorie Waber,Australia,Peanut Butter Cubes,2023-08-01 00:00:00,5546.25,320
6117,NaN,NaN,Roddy Speechley,New Zealand,After Nines,2023-07-06 00:00:00,4995,308
6118,NaN,NaN,Madelene Upcott,UK,99% Dark & Pure,2023-06-01 00:00:00,3089.25,340
6119,NaN,NaN,Karlen McCaffrey,Canada,Raspberry Choco,2024-02-13 00:00:00,3006,656

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [18]:
def strsplit(Email):
    user = Email.split('@')[0]
    return user

data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.jones@example.com']}
df = pd.DataFrame(data)

df['username'] = df['Email'].apply(strsplit)
df

                    Email    username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2   bob.jones@example.com   bob.jones

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [9]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Selecting rows
selected_df = select_rows(df)
print(selected_df[:3:2])

   A  B  C
1  8  2  7
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [15]:
import pandas as pd
data = {'Values': [3, 8, 6, 2, 9],
        'Price': [5, 2, 9, 3, 1],
        'Unit': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

#calculating mean ,median and mode of values column
def calculate_stats(df):
    
  mean = df['Values'].mean()
  median = df['Values'].median()
  std_dev = df['Values'].std()

  return {'mean': mean, 'median': median, 'std_dev': std_dev}

calculate_stats(df)

{'mean': 5.6, 'median': 6.0, 'std_dev': 3.0495901363953815}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [24]:
import pandas as pd

# Sample DataFrame
data = {'Sales': [100, 120, 150, 180, 200, 220, 250, 280, 300],
        'Date': pd.date_range('2024-07-01', periods=9)}
df = pd.DataFrame(data)

def calculate_moving_average(df):
    
    df = df.sort_values('Date')  # Ensure data is sorted by date
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = calculate_moving_average(df)
print(df)

   Sales       Date  MovingAverage
0    100 2024-07-01     100.000000
1    120 2024-07-02     110.000000
2    150 2024-07-03     123.333333
3    180 2024-07-04     137.500000
4    200 2024-07-05     150.000000
5    220 2024-07-06     161.666667
6    250 2024-07-07     174.285714
7    280 2024-07-08     200.000000
8    300 2024-07-09     225.714286

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [26]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.date_range('2023-01-01', periods=5)}
df = pd.DataFrame(data)

df['Weekday'] = df['Date'].dt.strftime('%A')

df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [27]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example usage
data = {'Date': ['2023-01-15', '2023-01-25', '2023-02-05', '2023-01-10']}
df = pd.DataFrame(data)

# Selecting rows between dates
selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-15
1 2023-01-25
3 2023-01-10

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

1.Import pandas library: import pandas as pd
2.Create DataFrame or Series objects to work with data.